<!DOCTYPE html>
<html lang="en">
  <%- include ('./partials/head.ejs') %>
  <style>
    * {
      font-family: system-ui, -apple-system, BlinkMacSystemFont, "Segoe UI",
        Roboto, Oxygen, Ubuntu, Cantarell, "Open Sans", "Helvetica Neue",
        sans-serif;
    }

    .delete-btn {
      background-color: red;
      color: white;
      border: none;
      padding: 7px 12px;
      border-radius: 12px;
      cursor: pointer;
      transition: 200ms;
    }

    .delete-btn:hover {
      background-color: rgb(225, 8, 8);
    }
  </style>
  <body>
    <p>You are viewing the post with an ID of <b><%= postData.id %></b></p>
    <%- include ('./partials/nav.ejs') %>

    <div id="content-container">
      <h1 id="title"><%= postData.title %></h1>
      <p><%= postData.desc %></p>
    </div>
    <button class="delete-btn" data-id="<%= postData.id %>">
      Delete this post
    </button>
    <script>
      const deleteButton = document.querySelector(".delete-btn");

      deleteButton.addEventListener("click", async (e) => {
        const endpoint = `/post/${deleteButton.dataset.id}`;

        try {
          const response = await fetch(endpoint, { method: "DELETE" });
          const data = await response.json();
          window.location.href = data.redirect;
        } catch (e) {
          console.log(e);
        }
      });
    </script>
  </body>
</html>
